[submodule "Src/ThirdParty/gpudetect"]
	path = Src/ThirdParty/gpudetect
	url = https://github.com/GameTechDev/gpudetect.git
[submodule "Src/ThirdParty/nvapi"]
	path = Src/ThirdParty/nvapi
	url = https://github.com/NVIDIA/nvapi.git
[submodule "Src/ThirdParty/AGS_SDK"]
	path = Src/ThirdParty/AGS_SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "Src/ThirdParty/Vulkan-Headers"]
	path = Src/ThirdParty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Src/ThirdParty/AMD_device_info"]
	path = Src/ThirdParty/AMD_device_info
	url = https://github.com/GPUOpen-Tools/device_info.git
