/*
This file is part of D3d12info project:
https://github.com/sawickiap/D3d12info

Copyright (c) 2018-2023 Adam Sawicki, https://asawicki.info
License: MIT

For more information, see files README.md, LICENSE.txt.
*/

INTEL_GPUDETECT_INTELGFX_CFG TEXT_FILE "ThirdParty\intel_gpudetect\IntelGfx.cfg"
